<div class="post-attachment">
    <a href="{{ function('wp_get_attachment_url', post.ID) }}" target="_blank"><img src="{{ function('wp_get_attachment_url', post.ID) }}" alt="{{ post.title }}"></a>
</div>
<div class="post-attachment-link">
    <a href="{{ function('wp_get_attachment_url', post.ID) }}" target="_blank"><i class="fa fa-picture-o" aria-hidden="true"></i> {{ function('wp_get_attachment_url', post.ID) }}</a>
</div>