{% spaceless %}<title>
        {% if function('is_404') == true %}
            {{ function("wp_title","&raquo;","true","right") }} &raquo;
        {% elseif function('is_tag') %}
            Tag: {{ tag.name|format_for_title }} &raquo;
        {% elseif function('is_category') %}
            Category: {{ category.name|format_for_title }} &raquo;
        {% elseif function('is_archive') %}
            Archive: {{ function('mktime', 0,0,0,function('get_query_var','monthnum'), 1, function('get_query_var','year'))|date('F') }}, {{ function('get_query_var','year') }} &raquo;
        {% else %}
            {{ page.post_title }} &raquo;
            {% if function('is_404') == false and function('is_front_page') == false and page.post_type != 'page' %}
                {{ section.post_title }} -
            {% endif %}
        {% endif %}
        {{ function("bloginfo","name") }}
    </title>{% endspaceless %}