
{% if function('is_front_page') == false %}
    <{% if (single is defined and single == true) %}h1{% else %}h2{% endif %} class="title-page{% if single is defined and single == true %} post-title text-uppercase text-normal text-center{% endif %}">
{#        {% if (section.id is defined and section.id == this_post.post_parent) and (single is defined and single == true) %}
            <a href="{{ site.url }}/{{ section.slug }}" class="title-section">
                {{ section.post_title }}
            </a>
        {% endif %}#}
        {% if this_post.post_title is defined %}
            {% if single is defined and single == true %}
                <span class="is_single">{{ this_post.post_title }}</span>
            {% elseif (link is defined and link == false) %}
                <span class="is_not_link">{{ this_post.post_title }}</span>
            {% else %}
                <a href="{{ function('get_post_permalink', this_post.ID) }}">{{ this_post.post_title }}</a>
            {% endif %}
        {% else %}
            {% if single is defined and single == true %}
                <span class="is_single">{{ title }}</span>
            {% else %}
                <a href="{{ function('get_post_permalink', this_post.ID) }}"><span class="is_not_single">{{ title }}</span></a>
            {% endif %}
        {% endif %}
    </{% if (single is defined and single == true) %}h1{% else %}h2{% endif %}>
{% endif %}