{% if sidebar_highlight_links is defined and sidebar_highlight_links|length > 0 %}
    <div class="sidebar-highlight-links">
{% for link in sidebar_highlight_links %}
<div class='sidebar-highlight-link'>
  <div class='sidebar-highlight-link-title'>
    {% if link.link_image|length > 0 %}
    <a href='{{link.link_url}}' target='{{ link.link_target }}'>
      <img alt='{{ link.link_name }}' class='sidebar-hightlight-title' src='{{link.link_image}}'>
    </a>
    {% else %}
    <h3 class='sidebar-hightlight-title'>
      <a href='{{link.link_url}}' target='{{ link.link_target }}'>{{ link.link_name }}</a>
    </h3>
    {% endif %}
  </div>
  <p class='sidebar-highlight-link-description'>
    {{ link.link_description }}
  </p>
</div>
{% endfor %}
    </div>
{% endif %}
